/* Header */

* {
    box-sizing: border-box;
}

.header{
    box-sizing: border-box;
    position: absolute;
    height: 130px;
    left: 40%;
    top: 0px;
}

img{
    position: absolute;
    width: 150px;
}


/*txt Register*/
p{
    position: absolute;
    left: 20%;
    top: 15%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 0px;
  
}

/*linea sup*/
.lin1{
position: absolute;
width: 932px;
height: 0px;
left: 15%;
top: 26%;
border: 1px solid #747474;
}

 /*Line inf*/
.lin2{
position: absolute;
width: 932px;
height: 0px;
left: 15%;
top: 87%;
border: 1px solid #747474;
}

/* Email y Contraseña*/
.log{
    position: absolute;
    left: 20%;
    top: 28%;
    font-size: 20px;
    
}

/* Btn Register */
.btnregister{
    position: absolute;
    left: 38%;
    top: 73%;
}

/* link cuenta existente*/
.cuentaexist{
    position: absolute;
    left: 43%;
    top: 89%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

